.reviews {
  position: relative;
  max-width: 70%;
  margin: auto;
}

.review {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  word-wrap: break-word;
}

.review img {
  width: 90px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.review span {
  display: inline-block;
  font-size: 20px;
  margin-right: 15px;
}

.review #date {
  float: right;
}

.review #text {
  margin: 20px;
}

.navigation {
  display: block;
  position: fixed;
  right: 25px;
}

.navigation a {
  display: block;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 12px 20px;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;

}

@media (max-width: 500px) {
  .review {
    text-align: center;
  }

  .review img {
    margin: auto;
    float: none;
    display: block;
  }

  .navigation {
    right: 5px;
  }
}