* { box-sizing: border-box;}

.container {
  max-width: 70%;
  margin: auto;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
}

input[type=text], input[type=email], input[type=file], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 6px 0 16px 0;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-style: italic;
  text-align: center;
}

